/*Get Songs Button*/
.bn39 {
  background-image: linear-gradient(135deg, #008aff, #f3310f);
  border-radius: 6px;
  box-sizing: border-box;
  color: #00ae40;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin: auto;
  border-color: #ffffff;
}

.bn39:hover {
  color: #fff;
}

.bn39 .bn39span {
  align-items: center;
  background: #000000;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}

/*Genre Buttons*/
.genre {
  font-weight: bold;
}

#genreGrid {
  max-width: 300px;
  height: 375px;
  padding:0px 30px;
}

button {
  cursor: pointer;
  border-width: 0;
}

article {
  width: 110px;
  height: 30px;
  margin: 5px;
  float: left;
  color: white;
  box-sizing: border-box;
  border-radius: 10px;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: 0.5s ease;
}

.genreBox > input {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*Genre Colors*/
#genreGrid .Rap {
  background: rgba(249, 0, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 28, 1) 0%,
    rgba(249, 0, 0, 1) 100%
  );
}

#genreGrid .Rap > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(249, 0, 0, 1);
  border: 2px solid rgba(249, 0, 0, 1);
  border-radius: 10px;
}

#genreGrid .Electro {
  background: rgba(230, 0, 30, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 40, 10, 1) 0%,
    rgba(249, 60, 10, 1) 100%
  );
}

#genreGrid .Electro > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(249, 60, 10, 1);
  border: 2px solid rgba(249, 60, 10, 1);
  border-radius: 10px;
}

#genreGrid .HipHop {
  background: rgba(249, 0, 165, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 71, 1) 0%,
    rgba(249, 0, 165, 1) 100%
  );
}

#genreGrid .HipHop > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(249, 0, 165, 1);
  border: 2px solid rgba(249, 0, 165, 1);
  border-radius: 10px;
}

#genreGrid .Latin {
  background: rgba(249, 66, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 28, 0, 1) 0%,
    rgba(249, 96, 20, 1) 100%
  );
}

#genreGrid .Latin > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(249, 66, 0, 1);
  border: 2px solid rgba(249, 66, 0, 1);
  border-radius: 10px;
}

#genreGrid .Jazz {
  background: rgba(252, 0, 252, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 0, 107, 1) 0%,
    rgba(252, 0, 252, 1) 100%
  );
}

#genreGrid .Jazz > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(252, 0, 252, 1);
  border: 2px solid rgba(252, 0, 252, 1);
  border-radius: 10px;
}

#genreGrid .Classical {
  background: rgba(251, 167, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 71, 0, 1) 0%,
    rgba(251, 167, 0, 1) 100%
  );
}

#genreGrid .Classical > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(251, 167, 0, 1);
  border: 2px solid rgba(251, 167, 0, 1);
  border-radius: 10px;
}

#genreGrid .Blues {
  background: rgba(168, 0, 252, 1);
  background: linear-gradient(
    90deg,
    rgba(71, 0, 107, 1) 0%,
    rgba(168, 0, 252, 1) 100%
  );
}

#genreGrid .Blues > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(168, 0, 252, 1);
  border: 2px solid rgba(168, 0, 252, 1);
  border-radius: 10px;
}

#genreGrid .Soul {
  background: rgba(246, 246, 110, 1);
  background: linear-gradient(
    90deg,
    rgba(107, 107, 0, 1) 0%,
    rgba(246, 246, 110, 1) 100%
  );
}

#genreGrid .Soul > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgb(192, 192, 0);
  border: 2px solid rgb(196, 196, 0);
  border-radius: 10px;
}

#genreGrid .Cinema {
  background: rgb(111, 0, 255);
  background: linear-gradient(90deg, rgb(43, 0, 103) 0%, rgb(98, 0, 255) 100%);
}

#genreGrid .Cinema > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgb(76, 0, 255);
  border: 2px solid rgb(76, 0, 255);
  border-radius: 10px;
}

#genreGrid .World {
  background: rgba(167, 251, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(71, 107, 0, 1) 0%,
    rgba(167, 251, 0, 1) 100%
  );
}

#genreGrid .World > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgb(132, 197, 0);
  border: 2px solid rgb(122, 183, 0);
  border-radius: 10px;
}

#genreGrid .Metal {
  background: rgba(0, 0, 168, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 71, 1) 0%,
    rgba(0, 0, 168, 1) 100%
  );
}

#genreGrid .Metal > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(0, 0, 168, 1);
  border: 2px solid rgba(0, 0, 168, 1);
  border-radius: 10px;
}

#genreGrid .Reggae {
  background: rgba(135, 254, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(57, 107, 0, 1) 0%,
    rgba(135, 254, 0, 1) 100%
  );
}

#genreGrid .Reggae > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgb(100, 187, 0);
  border: 2px solid rgb(102, 191, 0);
  border-radius: 10px;
}

#genreGrid .Rock {
  background: rgba(0, 0, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 107, 1) 0%,
    rgba(0, 0, 255, 1) 100%
  );
}

#genreGrid .Rock > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(0, 0, 255, 1);
  border: 2px solid rgba(0, 0, 255, 1);
  border-radius: 10px;
}

#genreGrid .Folk {
  background: rgba(0, 251, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 103, 0, 1) 0%,
    rgba(0, 251, 0, 1) 100%
  );
}

#genreGrid .Folk > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(0, 251, 0, 1);
  border: 2px solid rgba(0, 251, 0, 1);
  border-radius: 10px;
}

#genreGrid .Vocal {
  background: rgba(0, 134, 252, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 57, 107, 1) 0%,
    rgba(0, 134, 252, 1) 100%
  );
}

#genreGrid .Vocal > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(0, 134, 252, 1);
  border: 2px solid rgba(0, 134, 252, 1);
  border-radius: 10px;
}

#genreGrid .Country {
  background: rgba(0, 251, 134, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 107, 57, 1) 0%,
    rgba(0, 251, 134, 1) 100%
  );
}

#genreGrid .Country > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgba(0, 251, 134, 1);
  border: 2px solid rgba(0, 251, 134, 1);
  border-radius: 10px;
}

#genreGrid .Pop {
  background: rgba(93, 253, 253, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 103, 103, 1) 0%,
    rgba(93, 253, 253, 1) 100%
  );
}

#genreGrid .Pop > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgb(71, 194, 194);
  border: 2px solid rgb(68, 214, 214);
  border-radius: 10px;
}

#genreGrid .Funk {
  background: rgba(0, 251, 167, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 107, 71, 1) 0%,
    rgba(0, 251, 167, 1) 100%
  );
}

#genreGrid .Funk > .genreBox > input[type="checkbox"]:checked ~ div {
  background-color: #ffffff;
  color: rgb(0, 199, 133);
  border: 2px solid rgb(0, 185, 123);
  border-radius: 10px;
}

.allGenres {
  border-radius: 6px;
  box-sizing: border-box;
  height: 40px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 3px;
  position: relative;
  text-decoration: none;
  width: 80px;
  z-index: 2;
  border-color: #ffffff;
  margin: 5px;
}

#All {
  background-image: linear-gradient(135deg, #dfc21d, #c12828);
  color: #e71c41;
}

#None {
  background-image: linear-gradient(135deg, #00bbff, #5bbe43);
  color: #21d6ca;
}

.allGenresSpan {
  align-items: center;
  background: #000000;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}
