#MainPanel {
  color: rgb(60, 60, 60);
  background-color: rgb(0, 0, 0);
  padding: 20px 40px;
  width: 400px;
  height: 100%;
  min-height: 800px;
  position: fixed;
  padding-bottom: 20px;
  top: 0%;
  right: 0%;
}

#logo {
  width: auto;
  height: 80px;
}

#MainPanel > h1 {
  background: -webkit-linear-gradient(
    50deg,
    rgba(249, 0, 165, 1),
    rgb(255, 199, 79)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}

.heat-slider--label h2:first-of-type {
  background: -webkit-linear-gradient(
    50deg,
    rgba(48, 158, 255),
    rgb(65, 255, 17)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}
.heat-slider--label h2:last-of-type {
  background: -webkit-linear-gradient(
    50deg,
    rgb(174, 174, 27),
    rgb(255, 17, 17)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0.3em;
  margin-block-start: 0.3em;
}
