.modal {
  color: rgb(70, 70, 70);
  padding: 20px 40px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  text-align: center;
  background-color: #ffffff;
  z-index: 3;
  border-top: 20px solid #3acfd5;
  border-bottom: 20px solid #f5e71e;
  border-left: 20px solid #3ad542;
  border-right: 20px solid #d53a3a;
}

.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.modal-content {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.changeModal {
  margin: 10px;
  color: rgb(60, 60, 60);
}

.changeModal button {
  font-weight: bold;
  background-color: transparent;
}

.modal-close {
  color: rgb(60, 60, 60);
  text-decoration: none;
  margin: 10px;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}

.submit {
  border-radius: 6px;
  box-sizing: border-box;
  height: 40px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 3px;
  position: relative;
  text-decoration: none;
  width: 80px;
  z-index: 2;
  border-color: 5px solid rgb(43, 255, 237);
  margin: 5px;
  background-color: #3acfd5;
  color: white;
}

.submitSpan {
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.error {
  color: red;
  border: solid red 2px;
}

.errorText {
  color: red;
  display: block;
}

.link {
  color: #edd700;
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

.title {
  margin: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  color: #000000;
}

input[type="text"],
input[type="password"] {
  border-radius: 5px;
  height: 30px;
  max-width: 100%;
  line-height: 40px;
  padding: 0 5px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-weight: bold;
}

.login,
.registration {
  display: none;
}

.show {
  display: inherit;
  animation: move-around 5s;
}

@keyframes move-around {
  0% {
    left: 0px;
    transform: rotate(1.5turn);
    display:initial;
  }
  20% {
    left: calc(50vw - 150px);
    transform: rotate(3turn);
    display:initial;
  }
  50% {
    left: calc(50vw - 150px);
    opacity: 100%;
    transform: rotate(3turn);
    display:initial;
  }
  70% {
    opacity: 50%;
    left:  calc(90vw - 300px);
    transform: rotate(5turn);
    opacity: 0%;
    display:initial;
  }
  100% {
    opacity: 0%;
    display:none;
  }
}

@media (max-width: 400px) {
  
@keyframes move-around {
  0% {
    transform: rotate(2turn);
    display:initial;
  }
  20% {
    transform: rotate(4turn);
    display:initial;
  }
  50% {
    opacity: 100%;
    transform: rotate(4turn);
    display:initial;
  }
  70% {
    opacity: 50%;
    transform: rotate(6turn);
    opacity: 0%;
    display:initial;
  }
  100% {
    opacity: 0%;
    display:none;
  }
}
}